/*

================================================================================
|                                     MAIN STYLES                                     |
================================================================================
*/
.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}
/* loader */
.loaded .main-wrapper {
  visibility: hidden;
}
.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  display: none;
}
.loaded .icon-load {
  display: block;
}
/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  width: 100%;
  min-width: 320px;
  text-align: left;
}
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  min-width: 320px;
  text-align: left;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  background: #fff;
}
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
  text-align:left;
  position:absolute;
  left:0px; bottom:0px;
  width:100%;
  min-width: 320px;
}

.main-wrapper,.content,body{
  min-height: 100vh;
}