// out: style.min.css, sourcemap: true, compress: true
//simpless:minify
//myTools
@import url(myTools.3.2.less);
//end myTools
//compil
@import (inline) url(compil.css);
// @import (inline) url(compil.css);
//end compil
//.call-label;

//font
.font(@fontname:'ProximaNova',@fontpath:"../fonts/ProximaNova" , @fontpref:"-Extrabld",@fweight:900,@fital:normal);
.font(@fontname:'EtelkaMediumPro',@fontpath:"../fonts/EtelkaMediumPro" , @fontpref:"Bold",@fweight:400,@fital:normal);
body{
	font-family: 'PT Sans', sans-serif;
}
// .slick-slider{
// 	position: relative;
// }
.slick-slide{
	height: auto;
}
//end font
//method
.overh{
	overflow: hidden;
}
.pt{
	font-family: 'PT Sans', sans-serif;
	&.reg{
		font-weight: 400;
	}
	&.Bold{
		font-weight: 700;
	}

}

.Proxi(){
	font-family:"ProximaNova";
	font-weight: 900;
}
.Etelka(){
	font-family:"EtelkaMediumPro";
	font-weight: 400;
}
//end methods
.nav{
	.inline(@count:1){
		ul
		{
			display: inline-block;
			vertical-align: middle;
			padding: 0px;
			margin: 0px;
			width: 100%;
			li{
				width: 100%/@count;
				display: inline-block;
				margin-left: -3px;
				text-align: center;
			}
		}
	}
}
.test{
	//display: block;
	min-height: 10px;
	width: 100%;
	background: #f00;
}

//end namespaces
// var
@purple:#6a2cce;
@purple-1:#562884;
@purple-2:#6b4691;

@blue:#00a2ff;
@blue-2:#107795;
@blue-3:#06a2cf;
@green:#85d102;
@red:#e44700;
@red-1:#942f02;
@red-2:#ff3600;
@yellow:#ffb400;
@yellow-1:#fdcd1f;
@yellow-2:#cfa611;
@bcolor:#f4f4f4;
@tcolor:#383838;
@tcolor-2:#00394a;
@tcolor-3:#57646a;
@tcolor-4:#55ab26;
@tcolor-5:#398112;
.bold{
	font-weight:700;
}
.icon-load{
	width: 100%;
	height: 100%;
	background-color: #fff;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: 0px;
	background-position: 50%;
	z-index: 10;
}
//4all
h1,.h1,{
	font-size: 36px;
	line-height: 30px;
	.Etelka;
	text-transform: uppercase;
	&.blue{
		color: #06a2cf;
	}
}
.h{
	&,&+*{display: inline-block; vertical-align: middle; max-width: 100%;}
	width: 1px;
	height: 100%;
	margin-left: -5px;
	width: 1px;
}
.phone{
	display: 	none;
}
*{
	outline: none!important;
}
.abz{
	text-indent: 20px;
}
.just{
	text-align: justify!important;
}
.row.va{
	>div{
		display: inline-block;
		vertical-align: middle;
		float: none;
		&:first-child{
			margin-left: -8px;
			position: relative;
			left: 8px;
		}
	}
}
.cpad{
	padding: 40px 0px;
}
img{
	width: auto;
	max-width: 100%;
}
.btn{
	padding: 19px 30px;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;

	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	.Proxi;
	position: relative;
	z-index: 1;
	&:before,&:after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		z-index: -1;
		background: #c00;
		.transition();
	}
	&:before{
		top: 4px;
		left: 4px;
		background: #cc0;
	}
	&:hover{
		color: #fff;
		&:before{

		}
		&:after{

		}
	}

	&-purple{
		&:before{
			background: @purple-1;

		}
		&:after{
			background: @purple;
		}
		&:hover{
			&:before{
				background: @purple;
			}
			&:after{
				background: @purple-1;
			}
		}
	}
	&-yellow{
		&:before{
			background: @yellow-2;
		}
		&:after{
			background: @yellow-1;
		}
		&:hover{
			&:before{
				background: @yellow-1;
			}
			&:after{
				background: @yellow-2;
			}
		}
	}
	&-green{
		&:before{
			background: @tcolor-5;
		}
		&:after{
			background: @tcolor-4;
		}
		&:hover{
			&:before{
				background: @tcolor-4;
			}
			&:after{
				background: @tcolor-5;
			}
		}
		.ajax-loader{
			display: none!important;
		}
	}
	&-red{
		&:before{
			background: @red-1;
		}
		&:after{
			background: @red;
		}
		&:hover{
			&:before{
				background: @red;
			}
			&:after{
				background: @red-1;
			}
		}
	}
	&-purple-2{
		&:before{
			background: @purple-1;
		}
		&:after{
			background: @purple-2;
		}
	}
}
//header
header{
	background: transparent;

	nav{

		ul
		{
			display: inline-block;
			vertical-align: middle;
			padding: 0px;
			margin: 0px;
			width: 100%;
			li{

				display: inline-block;
				margin-left: -3px;
				text-align: center;
				padding: 0px 15px;
			}
		}

	}
	.row>div{
		position: relative;
	}
	a{
		font-size: 16px;
		line-height: 30px;
		color: @tcolor;
		.Proxi;
		text-transform: uppercase;
	}
	.vimp{
		color: #fff;
		overflow: hidden;
		padding-bottom: 30px;
		margin-left: -15px;
		margin-right: -15px;
		width: 170px;
		margin-bottom: -60px;
		.cnt{
			padding:40px 10px;
			padding-bottom: 0px;
			position: relative;
			z-index: 2;

			ul{
				display: block;
				padding:50px 10px;
				padding-bottom: 10px;
				margin-top: -70px;
				margin-left: -10px;
				margin-right: -10px;
				background: @blue-3;
			}
			li{
				display: block;
				width: 100%;
				margin: 9px 0px;
				p,a{
					color: #fff;
					text-decoration: none!important;
					font-size: 14px;

					margin: 0px;
					span{
						font-size: 24px;
						display: block;
						.Proxi;
						padding-left: 10px;
					}
					&.phone-vimp{
						padding-left: 0px;
						line-height: 1.4em;
					}
					&.bold{
						font-size: 20px;
					}
				}
			}
			&:before,&:after{
				width: 100px;
				height: 100px;
				background: @blue-3;
				content: '';
				display: block;
				position: absolute;
				transform: rotate(-18deg);
				bottom: -16px;
				z-index: -1;
				box-shadow: 0px 0px 0px 2px @blue-2;
			}
			&:before{
				left: -25px;
			}
			&:after{
				right: -25px;
				transform: rotate(18deg);
			}
		}
	}
}
//#block1
#block1{
	// background-image: url(../img/bg/bg_top_1.jpg);
	background-size: cover;
	padding-bottom: 180px;
	//background-position: 50% 75%;
	p{
		font-size: 18px;
		line-height: 26px;
		color:#383838;
		font-weight: 500;
		span{
			margin-top: 20px;
			display: block;
		}
	}
	h1,.h1{
		padding-bottom: 0px;
		font-size: 30px;
		line-height: 30px;
		margin-top: 0px;
		color: #00394a;
	}
	.btn{
		margin-top: 30px;
		margin-bottom: 200px;

	}
	.texts{
		background: rgba(255,255,255,0.6);
		padding: 15px;
	}
}
#block2{
	margin-top: -146px;

	.ell{
		display: inline-block;
		width: 33%;
		min-width: 330px;
		margin-left: -4px;
		vertical-align: top;
		left: 4px;
		position: relative;
		text-align: left;
		z-index: 1;
		.transition();
		&:hover{
			p{color: #000000;}
			.shape i {color: #000;}
			transform: scale(1.1);
			z-index: 3!important;

		}

		//margin-left: -3px;
		.shape{
			padding: 20px 40px;
			overflow: hidden;
			.ACenter();
			i{
				font-size: 70px;
				color: #fff;
				&:before{
					margin: 0px;
				}
			}
			li{
				display: block;
			}
			ul{
				padding: 0px;
				margin-bottom: 20px;
				li{
					display: block;

					&:before{
						content: '-';
						display: inline-block;
						margin-left: -15px;
						vertical-align: top;

					}
					p{
						display: 	inline;
						&.just{
							display: inline-block;
						}
					}
				}
				//p{
					//color: @tcolor-3;
					//font-size: 14px;
					//margin: 0px;
				//}
				p{
					margin-bottom: 0px;
				}
			}

			.allrent{
				.Etelka;
				text-transform: uppercase;

				font-size: 14px;
				line-height: 14px;
				margin-top: -7px;
				margin-bottom: -7px;
				padding: 7px;
				background:#fff;
				display: inline-block;

			}
		}
		img{
			width: 100%;
		}

		a{
			display: block;
			.ACenter();
			z-index: 10;
		}
		h1,.h1{
			/* height: 44%; */
			font-size: 36px;
			line-height: 30px;
			color: #fff;
		}
		.text{
			color: #fff;
			font-size: 18px;
			height: 40%;
			line-height: 21px;
			position: absolute;
			left: 	40px;
			right: 40px;
			bottom: 30px;
			span{
				.bold;
			}
		}

		.date{
			font-size: 14px;
			position: absolute;
			left: 	40px;
			right: 40px;
			bottom: 20px;
			margin-bottom: 0px;
			color: #fff;
			p{
				margin-bottom: 0px;
			}
		}
		&-1{
			.shape{
				background: rgba(253, 205, 31, 0.9);
			}
			.allrent{
				color:  rgba(253, 205, 31, 1);
			}
		}
		&-2{
			.shape{
				background:rgba(255, 54, 0, 0.9);
			}
			.allrent{
				color: rgba(255, 54, 0, 1);
			}
		}
		&-3{
			.shape{
				background:rgba(107, 70, 145, 0.8);
			}
			.allrent{
				color: rgba(107, 70, 145, 1);
			}
		}
		&-4{
			.shape{
				background:rgba(65, 185, 0, 0.8);
			}
			.allrent{
				color: rgba(65, 185, 0, 1);
			}
		}
		&-5{
			.shape{
				background:rgba(6, 162, 207, 0.8);
			}
			.allrent{
				color: rgba(6, 162, 207, 1);
			}
		}
		&-6{
			.shape{
				background:rgba(231, 41, 86, 0.8);
			}
			.allrent{
				color: rgba(231, 41, 86, 1);
			}
		}
	}
}
#block3{
	background: #f4f4f4;
	padding: 35px 0px;
	h1,.h1{
		line-height: 20px;
		color:@purple-2;
	}
	h2,.h2{
		font-size: 36px;
		line-height: 30px;
		.Etelka;
		min-height: 60px;
		text-transform: uppercase;
	}
}
.bott{
	p{
		font-size: 18px;
		line-height: 26px;
		&.date{
			.bold;
			padding-bottom: 60px;

		}
		&.place{
			line-height: 18px;
			margin: 0px;
			display: inline-block;
			text-align: left;
			span{
				display: inline-block;
				vertical-align: middle;
				&.digit{
					font-size: 36px;
					line-height: 30px;
					.Etelka;
					width: 100%;
					padding-right: 80px;
					margin-right: -75px;
					color:@tcolor-4;
				}
				&.letter{
					width: 70px;
					font-size: 18px;
					line-height: 18px;
					margin-top: -7px;
				}

			}
		}
	}
	padding: 20px 0px;
	.bot-cont{
		width: 50%;
		margin-left: -2px;
		vertical-align: middle;
		display: inline-block;
		text-align: center;
	}
}
#block4{
	padding: 20px 0px;
	h1,.h1{
		color: @tcolor-2;
	}
	.nav > .inline(5);
	p{
		&.disct{
			.bold;
			line-height: 26px;
		}
		&.icon{
			font-size: 68px;
			height: 68px;
			vertical-align: top;
			color: #00a1d9;
			&.lt{
				font-size: 56px;
				&:before{
					width: auto;
				}
			}
		}
		&.txt{
			font-size: 18px;
			vertical-align: 26px;
			color: @tcolor;
			text-align: left;
		}
	}
	.adv-loop{
		text-align: center;
	}
	ul{
		//max-width: 840px;
		width: 100%;
		margin: 20px 0px;
		li{
			vertical-align: top;
			margin-left: -10px;
		}
	}
}
video{
	width: 100%;
	vertical-align: top;
	&::-webkit-media-controls {
		display:none !important;
	}
}
.video-cont{
	max-width: 950px;
	display: block;
	margin: 0 auto;
	position: relative;
	//height: 0;
	z-index: 2;
	cursor: pointer;
	.play{
		.ACenter();
		max-width: 40%;
	}
	&:after{
		content:'';
		display: block;
		.ACenter(@top:10px,@left:10px,@right:-10px,@bottom:-10px);
		background: #000;
		z-index: -1;
		background: @yellow-1;

	}
	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}
.yvid{
	position: relative;
	width: 100%;
	margin: 10px 0px;
	height: 0;
	padding-bottom: 56.25%;
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
#yvid{
	padding: 50px 0px;
}
#media-slick-cont{
	ul{
		padding: 0px;
		text-align: center;

		li{display: inline-block; margin: 4px; cursor: pointer;}
	}
}
#media-slick{
	.slick-list.draggable{
		height: auto!important;
	}
}
#block5{
	h1,.h1{
		color: @yellow-1;
		margin: 20px 0px;
		margin-bottom: 40px;
	}
}
#block6{
	padding: 40px 0px;

	h1,.h1{
		color: @tcolor-4;
	}
	img.g{
		max-width: 142%;
		width: auto;
		margin-top: -83px;
		margin-left: -95px;
		position: relative;
		z-index: -1;
	}
	p{
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 65px;
		span{
			.bold;
		}
	}
}
#block7{

	.container-fuild{background-color: @blue-3; position: relative;}
	padding-bottom: 35px;
	.dec{
		margin-top: -10%;
		max-width: initial;
		margin-left: -15%;
		margin-bottom: -6%;
		width: 113%
	}

	p{
		margin-bottom: 0px;
		color: #fff;
		font-size: 18px;
		line-height: 26px;
		&:last-child{
			margin-bottom: 0px;
		}
	}
	.text{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	h1,.h1{
		color: @blue-3;

	}
	.pad{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.cont{
		display: inline-block;
		text-align: left;
		p{
			font-size: 18px;
			line-height: 26px;
			color: #000;
			margin-bottom: 0px;
			&.bold{
				.bold;
				padding-left: 40px;
				margin-bottom: 20px;
			}
		}
		li{
			color: @blue-3;
		}
	}
}
#block8{
	padding: 20px 0px;
	h1,.h1{
		color: @red;
		span{
			color: #000;
		}
	}
	p{
		font-size: 18px;
		line-height: 26px;
		margin: 0px;
		&.pt{
			.pt;
			font-size: 	18px;
			line-height: 26px;
			margin: 20px 0px;
			text-align: center;
		}
	}
	.ell{
		padding: 10px 10px;
		border: 3px solid @bcolor;
		margin-right: -20px;
		border-left: 0px;
		border-top: none;
		&:first-child{
			border-top: 3px solid @bcolor;
		}
		.date{
			display: inline-block;
			vertical-align: top;
			width: 80px;
			min-height: 62px;
			p{

				color: @red;
				.bold;
				//modif
				font-size: 28px;
				line-height: 31px;
			}
		}
		.discr{
			display: inline-block;
			width: 103%;
			margin-left: -90px;
			padding-left: 90px;
			vertical-align: top;
			margin-right: -10px;
			p{
				.bold;
				color: #000;
				font-size: 14px;
				line-height: 18px;


			}
		}
	}
	.mtable{
		padding: 20px 0px;

	}
}
#block9{
	background: #6b4691;
	text-align: center;

	h1,.h1{
		text-align: left;
		color: #fff;


	}
	.team{
		&-loop{
			display: inline-block;
			padding: 15px 0px;

		}
		&-ell{
			display: inline-block;
			width: 100%/4;
			margin: 15px 0px;
			margin-left: -4px;
			padding: 0px 15px;
			vertical-align: top;
			p{
				font-size: 14px;
				color: #fff;

				&.name{
					font-size: 18px;
					margin-bottom: 10px;
					margin-top: 10px;
					height: 50px;
					.bold;
					text-transform: uppercase;
				}

			}
			img{
				width: 156px;
				height: 156px;
			}
		}

	}
}
#block10{
	padding: 20px 0px;
	h1,.h1{
		color: @red;
	}
	a{
		text-decoration: underline;
		font-size: 14px;
		.bold;
		color: #000;
		&:hover,&.active{
			color: @red;
		}
	}
	.btn{
		color: #fff;
		text-decoration: none;
		&:hover{
			color: #fff;
		}
	}
	ul{
		text-align: justify;
		padding: 20px 0px;
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
		li{
			display: inline-block;
			margin-left: -4px;
			position: relative;
		}
	}
	.docs{
		text-align: center;
		width: 100%;
		.bold;
		font-size: 20px;
		padding: 20px;
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
		a{
			display: inline-block;
			margin: 0 20px;
		}
	}
}
.form{
	display: block;
	width: 100%;
	padding: 31px 37px;
	background: @yellow-1;
	.err{
		box-shadow: 0px 0px 10px 0px #f00;
	}
	.text-cont{
		display: inline-block;
		vertical-align: middle;
		width: (100%/12)*4;
		margin-left: -3px;
	}
	.btn-cont{
		display: inline-block;
		vertical-align: middle;
		width: (100%/12)*3;
		margin-left: -3px;
		text-align: right;
	}
	p{
		display: inline-block;
		vertical-align: middle;
		width: (100%/12)*5;
		margin-left: -3px;
		.Proxi;
		margin-bottom: 0px;
		font-size: 25px;
		line-height: 22px;
		letter-spacing: -0.4px;
	}
	.input{
		width: 100%;
		font-size: 16px;
		padding: 12px 15px;
		background: #fff;
		border: none;
	}
	.btn{

		input{
			display: block;
			height: 100%;
			padding: 0px;
			margin-top: -19px;
			margin-bottom: -19px;
			margin-left: -30px;
			margin-right: -30px;
			width: auto;
			text-align: center;
			padding: 19px 30px;
			border: none;
		}
	}
	h5.success {
		font-size: 20px;
		font-family: "EtelkaMediumPro";
		color: #fff;
	}
}
#block11{
	background: @blue-3;
	color: #fff;
	.btn{
		color: #000;
		margin: 18px 0px;
	}
	.container{
		margin-top: -3px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	p{
		font-size: 18px;
		line-height: 26px;
		color: #fff;
	}
	.slick{
		&-arrow{
			position: absolute;
			top: 0px;
			bottom: 0px;
			z-index: 10;
			.Etelka;
			font-size: 30px;
			padding:8px 0px;
			margin:auto;
			background: transparent;
			box-shadow: 0px;
			border: none;
			color: @yellow-1;
			width: 50px;
			height: 50px;
			text-align: center;
			border-radius: 5px;
			.transition();
			&:hover{
				background: @yellow-1;
				color: #fff;
			}
		}
		&-next{
			right: 	30px;
		}
		&-prev{
			left: 	30px;
		}
	}
}
#block12{
	padding: 20px 0px;
	h1,.h1{color:@tcolor-4}
	.rev{
		&-loop{
			padding: 15px 0px;
			.slick-arrow{
				.Etelka;
				font-size: 30px;
				padding:8px 0px;

				background: transparent;
				box-shadow: 0px;
				border: none;
				color: @blue-3;
				width: 50px;
				height: 50px;
				text-align: center;
				border-radius: 5px;
				.transition();
				position: absolute;
				top: 0;
				bottom: 0;

				margin: auto;
				&:hover{
					background: @blue-3;
					color: #fff;

				}
				&.slick-next{
					left: 100%;
					margin-left: 15px;
				}
				&.slick-prev{
					right: 100%;
					margin-right: 15px;
				}
			}
		}
		&-ell{
			.avat{
				width:140px;
				height:140px;
				border-radius: 50%;
				overflow: hidden;


				margin-right: -145px;
				vertical-align: top;
				display: inline-block;
			}
			.text{
				padding: 10px;
				padding-left: 155px;
				vertical-align: top;
				display: inline-block;
				width: 100%;
				.top{
					p{
						font-size: 18px;
						margin-bottom: 0px;
						.bold;
						line-height: 1;
						&.name{
							text-transform: uppercase;
						}
						&.date{
							font-size: 12px;
						}
					}
				}
				.trev{
					margin-top: 20px;
					font-size: 18px;
					font-style: Italic;

				}
			}
		}
	}
}
#block13{
	padding: 20px 0px;
	background: #f4f4f4;
	h1,.h1{
		color: @purple-2;
	}
	img{


		display: block;
	}
	p{
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 20px;
		&.qut{
			margin-bottom: 0px;
			font-style: Italic;
			font-size: 12px;
			line-height: 1;
			opacity: .5;
		}
		&.t{
			.pt;
			.pt.reg;
			font-size: 18px;
			line-height: 24px;
		}
		&.t2{
			.pt;
			.pt.reg;
			font-size: 14px;
			line-height: 18px;
		}
	}
	.btn{
		margin-bottom: 20px;
	}
}
#map{
	min-width: 100%;
	height: 458px;
}

#media{
	.switch input[type="radio"]
	{
		&,&+*,&+.media_cont+.events_bottom{display: none;}
		&:checked+*,&:checked+.media_cont+.events_bottom{display:  block;}
	}
	.media{


		&-header{
			color: #c2bdbd;
		}
		&_h1,.h1{
			color: #c2bdbd;
			cursor: default;
			margin: 20px 0px;
			.active{
				color: #06a2cf;
			}
			label{
				cursor: pointer;
			}
		}
		p{
			color: #383838;
		}
		&_link{
			.ACenter();
			z-index: 2;
		}
		&_name{
			.Etelka;
			font-size: 24px;
			line-height: 24px;
			color: #383838;
			margin: 5px 0px;
		}
		&_date,&_count{
			opacity: 0.5;
			font-size: 14px;
			margin-bottom: 0px;
			.pt.reg;

		}
		&_date{
			.pt.Bold;
		}
		&_count{
			span{
				.pt.Bold;
			}
		}
		&_ell{
			display: inline-block;
			position: relative;
			margin: 20px;
			width: 220px;
			height: 220px;

		}
		&_cont{
			text-align: center;
			padding-bottom: 40px;
			&:after{
				width: 100%;
				height: 0px;
				visibility: hidden;
				overflow: hidden;
				content: "";
				display: inline-block;
			}
			.noposts{
				text-align: center;
				.fz(20px);
			}
		}
	}
}
#medpop{
	.ACenter(@position:fixed,@top:0);
	background: rgba(0,0,0,.9);
	z-index: 100;
	overflow: auto;
	max-height: 100vh;
	padding: 60px 0px;
	visibility: visible;
	.transition();
	&.hid{
		visibility: hidden;
		top: 100%;
		overflow: hidden;
	}
}
.medpop{
	&_cont{
		padding: 55px 47px;
		padding-bottom: 44px;
		background: #fff;
		padding-right: 17%;
		&-1{
			padding-left: 0px;
			padding-right: 0px;
			background: transparent;
		}
	}
	&_date{
		display: inline-block;
		text-align: left;
		font-size: 18px;
		color: #fff;
		.pt.Bold;
		margin-bottom: 0px;
		span{
			display: block;
			.pt.reg;
		}
	}
	&_top{
		margin-right: -20%;
		*{
			display: inline-block;
			vertical-align: middle;
		}
	}
	&_beg{
		width: 100%;
		margin-right: -50px;
		padding-right: 50px;
		margin-bottom: 0px;
		line-height: 30px;

		font-size: 18px;
		text-transform: uppercase;
		color: #6b4691;
		.Etelka;
	}
	&_btn{
		cursor: pointer;
		&-close{
			color: #6b4691;
			font-size: 14px;
			.transition();
			&:hover{

				transform:rotate(360deg);
			}
		}
		&-reg{
			position: absolute;
			top: -30px;
			left: 30px;
		}
	}
	&_h1,.h1{
		font-size: 40px;
		.pt;
		.pt.Bold;
		line-height: 1;
		margin-bottom: 50px;
	}
	&_poster{
		margin-left: -55%;
		display: block;
		max-width: initial;
		position: relative;
		img{
			width: 100%;
		}
	}
	&_discr{
		padding-top: 46px;
		.pt;
		font-size: 18px;
		line-height: 30px;
	}
}
#media-slick-2{
	button{
		position: absolute;
		top: 0px;
		bottom: 0px;
		z-index: 2;
		width: 50px;
		background: transparent;
		opacity: .3;
		box-shadow: none;
		border: none;
		font-family: "EtelkaMediumPro";
		font-weight: 400;
		font-size: 30px;
		color: #06a2cf;
		background: rgba(0,0,0,.9);
		&:hover{
			opacity: 1;
		}
		&.slick-next{
			right: 0px;

		}
	}
}
.slick-pop{
	.ACenter(@position:fixed);
	background: rgba(0,0,0,.8);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	.transition(@name:opacity);
	&.active{
		visibility: visible;
		opacity: 1;
	}
	.h{
		display: inline-block;
		width: 1px;
		height: 100%;

	}
	.container{
		height: 100%;
	}
	.scont{
		position: relative;
		&_btn-close{
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0px;
			right: 0px;
			z-index: 100;
			text-align: center;
			line-height: 50px;
			background: #06a2cf;
			color: #fff;
			cursor: pointer;
			border-radius: 5px;
			opacity: .3;
			&:hover{
				opacity: 1;
			}
		}
	}

	/* .container{
		min-height: 100%;
		& > div{
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 1px;
			height: 100%;
			margin-left: -1px;
		}
		} */
	}
	footer{
		background: @purple-2;
		padding: 0px 15px;
		padding-bottom: 15px;
		nav{
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			margin-left: -15px;
		}
		ul{
			padding: 20px 0px;

			li{
				display: inline-block;

			}
			a{
				color: #fff;
				font-size: 16px;
				line-height: 30px;
				display: block;
				padding: 0px 15px;
				.Proxi;
				text-transform: uppercase;
				&:hover{
					text-decoration: none;
					background: #fff;
					color: @purple-2;
				}
			}
			&.social{
				display: inline-block;
				width: auto;
				max-width: 200px;
				margin-right: 0px;
				padding-right: 0px;
				text-align: center;
				li{
					width: 40px;
					height: 40px;
					background: #fff;
					border-radius: 5px;
					overflow: hidden;
					a{
						color: @purple-2;
						line-height: 40px;
						font-size: 30px;
						text-align: left;
						padding: 0px;
						text-decoration: none;
						text-align: center;

						&.icon-fb{
							text-align: right;
						}
						&:before{
							margin: 0px;
							width: 100%;
						}
					}
				}
			}
		}
		.partner{
			text-align: justify;
			&:after{
				width: 100%;
				height: 0;
				visibility: hidden;
				overflow: hidden;
				content: "";
				display: inline-block;
			}
			.foot-img-cont,.fimca{
				display: inline-block;


				text-align: center;
				max-width: 200px;
				a{
					width: 100%;
				}
				img{
					min-width: 125px;
				}
			}
			a{
				.Proxi;
				font-size: 12px;
				color: #fff;
				text-transform: uppercase;
				text-decoration: underline;
				padding:10px 0px;
			}
		}
		.time{
			display: block;
			width: 310px;
			margin: 0 auto;
			margin-top: 15px;
			padding-bottom: 20px;
			&:nth-child(2) {
				padding-bottom: 60px;
			}
			.icon{
				display: inline-block;
				color: #fff;
				font-size: 30px;
				vertical-align: middle;
			}
			div,.yellow
			{
				display: inline-block;
				vertical-align: middle;
				position: relative;
				p{
					color: #fff;
					font-size: 14px;
					text-align: center;
					line-height: 30px;
					&.cerlce
					{
						width: 34px;
						height: 34px;
						display: inline-block;
						border-radius: 50%;
						background: @blue-3;
					}
					&.digit{
						line-height: 20px;
						position: absolute;
						left: 0px;
						right: 0px;
						top: 100%;
						text-align: center;
						color: @blue-3;
					}
				}
			}
			.cc{
				color: @yellow-1;
			}
			p.digit{

				&.c{
					color: @blue-3;
				}
				span{
					white-space: nowrap;
					width: 200px;

				}
			}
			.yellow{
				p.cerlce{
					background: @yellow-1;
					color: #000;
					.bold;
				}
				p.digit{
					color: @yellow-1;
				}
			}
		}
		.va-center{
			display: inline-block;
			vertical-align: middle;
			float: none;
		}
		.mrg{
			margin-left: -4px;
		}
		.contact{
			margin-top: -10px;
			a{
				font-size: 12px;
				line-height: 18px;
				display: block;
				text-align: left;
				color: #fff;
				&:first-child{
					font-size: 18px;
				}

			}
			p{
				margin: 0px;
				color: #fff;
				font-size: 14px;
				&.addr{
					margin-bottom: 0px;
					word-spacing: -1.5px;
				}
			}
		}
		h5{
			color: #fff;
			font-size: 16px;
			line-height: 30px;
			display: block;
			.Proxi;
			font-weight: 900;
			text-transform: uppercase;
			margin: 0px;
			margin-top: 10px;
		}
		.f-part-cont{
			display: inline-block;
			vertical-align: middle;
			max-width: 200px;
			text-align: center;
		}
	}
	.popup{
		.ACenter(@position:fixed);
		opacity: 0;
		visibility: hidden;
		.transition();
		&.active{
			opacity: 1;
			visibility: visible;
		}
		z-index: 100;
		background: rgba(0,0,0,.8);
		img{
			.ACenter;
			max-width: 90%;
			max-height: 90%;
		}
		.container,.row,.row>*{
			height: 100%;

		}
		.form{
			h1,.h1{
				margin-top: 0px;
			}
			input ,textarea{
				max-width: 100%;
				width: 100%;
			}
			.btn{
				padding: 0px;
				input{
					padding: 19px 30px;
					margin: 0px;


				}
			}
			.input{
				margin-bottom: 10px;
			}
		}
	}
	.form-cont{
		width: 100%;
		max-height: 100%;
		position: relative;
		.icon-mod_close {
			cursor: pointer;
			position: absolute;
			top: -13px;
			right: -13px;
			background: #fff;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			line-height: 27px;
			border: 5px solid #fdcd1f;
			.transition();
			&:hover{
				background:#fdcd1f;
				border-color: #fff;
			}
		}
	}
	.dump_btn{
		position: fixed;
		bottom: 0px;
		right: 0px;
		z-index: 10;
		margin: 30px 15px;
		background: transparent;
		display: block;
		line-height: 	50px;
		text-align: center;
		font-size: 20px;
		background: #708eb2;
		color: #fff;
		border: none;
		width: 50px;
		height: 50px;
		border-radius: 6px;
		opacity: .3;
		.transition();
		display: block;
		text-decoration: none!important;

		&:hover{
			background: #708eb2;
			color: #fff;
			opacity: 1;
		}
	}
	#events{
		h1,.h1{
			color: #6b4691;
		}
	}
	.events{
		&_pd{
			padding-top: 40px;
			padding-bottom: 32px;

		}
		&_ell{
			position: relative;
			.cls();
			margin: 20px 0px;
		/* &:after{

			content: '';
			} */
			&:hover{
				.events_bg{
					background: rgba(214, 214, 214, 0.5);
				}
			}
		}
		&_bottom{
			text-align: right;
			padding: 50px 0px;
			.cls;
		}
		&_bg{
			position: absolute;
			.ACenter();
			//z-index: 1;
			background: rgba(214, 214, 214, 0.1);
			margin: 12px 0px;
		}
		&_loop{
			.noposts{
				text-align: center;
				.fz(20px);
			}
		}
	p{
		.pt;
		font-size: 18px;
	}
	&_name{
		.pt.Bold;
		font-size: 18px;
	}
	&_date{
		.pt.Bold;
		font-size: 18px;
		span{
			.pt.reg;
		}
	}
}
#aboutus-top{
	position: relative;
	.bg{
		width: 100%;
		margin-top: -20px;
	}
	.abcont{
		.ACenter();
	}
	h1,.h1{
		.Etelka;
		color: #00394a;
		font-size: 30px;
		line-height: 30px;
		text-transform: uppercase;
	}
	.text{
		.pt;
		.pt.reg;
		color: #383838;
		font-size: 18px;
		line-height: 26px;
	}
}
.stext{
	padding: 46px 0px;
	h1,.h1{
		font-size: 30px;
		line-height: 30px;
		color: #00394a;
		margin-bottom: 20px;
		.Etelka;
	}
	p,h2{
		.pt;
		.pt.reg;
		margin-bottom: 0px;
		font-size: 18px;
		line-height: 26px;
	}
	h2{
		text-transform: uppercase;
		.pt.Bold;
	}
	.slider{
		margin: 46px 0px;
	}
	.row{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
#test{
	background:#06a2cf;
	padding: 40px 0px;
	.h1{
		color: #fff;
		.Etelka;
		font-size: 36px;
		line-height: 30px;
		margin-bottom: 0px;
	}
	p{
		font-size: 18px;
		color: #fff;
	}
	.btn{
		margin-top: 20px;
	}
}
#shiftslick
{
	.shift{
		.img-cont{
			overflow: hidden;
			max-height: 600px;
		}
		.slide{
			position: relative;
			//padding-bottom: 200px;
			img{width: 100%}
			.shift{
				&_date,&_icon,&_h1{
					color: #f00;
				}
				&_shape{
					background: rgba(255,0,0,0.9);
				}
			}
			&-1{
				.shift{

					&_date,&_icon,&_h1{
						color: #000;
					}
					&_shape{
						background: rgba(253, 205, 31, 0.9);
					}
				}
			}
			&-2{
				.shift{
					&_date,&_icon,&_h1{
						color: #ff3600;
					}
					&_shape{
						background: rgba(255, 54, 0, 0.9);
					}
				}
			}
			&-3{
				.shift{
					&_date,&_icon,&_h1{
						color: #fff;
					}
					&_shape{
						background: rgba(107, 70, 145, 0.9);
					}
				}
			}
			&-4{
				.shift{
					&_date,&_icon,&_h1{
						color: #55ab26;
					}
					&_shape{
						background: rgba(85, 171, 38, 0.9);
					}
				}
			}
			&-5{
				.shift{
					&_date,&_icon,&_h1{
						color: #06a2cf;
					}
					&_shape{
						background: rgba(6, 162, 207, 0.9);
					}
				}
			}
			&-6{
				.shift{
					&_date,&_icon,&_h1{
						color: #e72956;
					}
					&_shape{
						background: rgba(231, 41, 86, 0.9);
					}
				}
			}

		}
		.abs{
			.ACenter(@top:30px,@bottom:initial);
			z-index: 1;
		}
		&_icon{
			font-size: 70px;
			&:before{
				margin: 0px;
			}
		}
		&_h1{
			.Etelka;
			font-size: 40px;
			line-height: 40px;
			margin: 32px 0px;
		}
		&_date{
			.pt;
			.pt.Bold;
			font-size: 18px;
			margin: 24px 0px;
		}
		&_shape{

			padding: 57px 15%;

			.pt.reg;
			font-size: 18px;
			color: #000;


		}
		&_price{
			.Etelka;
			font-size: 36px;
			margin: 40px 0px;
			span{
				font-size: 18px;
			}
		}
		.bott{

			.bot-cont{
				&.ls{
					width: 42%;
				}
				.btn{
					padding: 19px 25px;
				}
			}
			p.place span.digit{
				color: #000;
			}

		}
	}
}
#clist{
	h1,.h1{
		padding-left: 44px;
		color: #55ab26;
		font-size: 36px;
		line-height: 30px;
	}
}
.checklist{
	padding: 40px 0px;

	li{
		display: inline-block;
		font-family: 'icons';

		&:before{
			content: '\e811';
			color: #55ab26;
			vertical-align: middle;
			font-size: 26px;
		}
		p{
			width: 100%;
			margin-left: -40px;
			padding-left: 50px;
			vertical-align: middle;
			display: inline-block;

			font-size: 18px;
			line-height: 26px;
			color: #000000;
			margin-bottom: 0px;
		}
	}
}
#grey{
	background: #f4f4f4;
	padding: 40px 0px;
	p{
		color: #000;
		font-size: 14px;
		margin-bottom: 0;
		.pt;
		.pt.reg;
		&.name{
			.pt.Bold;
			font-size: 18px;
			line-height: 26px;
			span{
				display: block;
			}
		}
	}
}

#abb{
	background-image: url(../img/addbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0px;
	i{
		font-size: 70px;
		color: #000;
	}
	.half{
		display: inline-block;
		width: 50%;
		margin-left: -2px;
		min-width: 220px;
		vertical-align: middle;
		&-bott{
			vertical-align: bottom;
		}
	}
	.h1,h1{
		color: #000;
	}
	.date{
		.pt;
		.pt.Bold;
		margin-bottom: 0px;
		font-size: 14px;
		margin-top: 50px;
	}
	.bott{
		.bot-cont{
			width: 100%;
			text-align: left;
			p.place span.digit
			{
				color: #000;
			}
		}
	}
}
#media-nav-slick{
	.slide{
		margin: 4px;
		cursor: pointer;
		opacity: .1;
		.transition(@name:opacity);
		&.slick-active {
			opacity: .5;

		}
		&.slick-current {
			opacity: 1;
		}
	}
	margin: 20px 0px;
}

@media @desktop {

	footer{
		.f-part-cont{
			max-width: 180px;
		}
	}
	#shiftslick{
		.shift .slide
		{
			padding-bottom: 0px;
		}
		.shift_shape
		{
			padding:23px 15%;
			padding-bottom: 0px;
		}
	}

}
@media (min-width:1920px){
	#shiftslick .shift .img-cont{
		overflow: hidden;
		img{
			margin-top: -50px;
		}
	}
}
@media (min-width:1280px){
	#shiftslick .shift {
		.slide {
			padding-bottom: 90px;
		}
	}
}
@media (min-width:1200px)and(max-width:1280px){
	#shiftslick .shift .slide
	{
		padding-bottom: 200px;
	}
}
@media @tablet-max{
	header{
		.container{
			position: relative;
		}
		.row>div{
			position: static;
		}
		.vimp{
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}
	#block2{
		.ell{
			width: 	50%;
		}
	}
	#block6{
		img{
			&.g{
				max-width: 100%;
				width: auto;
				margin: 0px auto;
				max-width: 300px;
				display: block;
			}
		}
	}
	#block9{
		.team-ell{
			width: 100%/3;
		}
	}
	#block10{
		.docs{
			text-align: left;
		}
		.form{
			p{
				width: 100%;
			}
			.text-cont{
				width: 100%;
				margin-right: -155px;
				padding-right: 160px;
			}
			.btn-cont{
				width: 155px;

			}
		}
	}
	#block13{
		img{
			display: block;
			margin: auto;
			max-width: 90%;

		}
	}
	footer{
		.partner{
			text-align: center;
		}
		.f-part-cont{
			margin: 0px 30px;
		}
		nav{
			margin-left: 0px;
			text-align: center;
		}
	}
	#media{
		.media_cont{
			text-align: center;
		}
		.medpop_poster{
			margin-left: 0px;
		}
	}
	#shiftslick{
		.shift{
			&_shape{
				padding: 30px 15px;
			}
		}
	}
	#aboutus-top .abcont{
		position: relative;
		padding-top: 0px!important;
	}
}

@media @phone-max{
	.phone{
		display: 	inline-block;
		width: 	40px;
		height: 40px;
		font-size: 30px;

	}
	h1,.h1{
		font-size: 30px;
	}
	#block1,#block2,#block3,#block4,#block5{
		h1,.h1{
			line-height: 30px;
		}
	}
	.btn{
		display: 	block;
		margin: 0 auto;
	}
	#block6{
		.col-xs-12
		{
			max-width: 300px;
			display: block;
			margin: 0 auto;
			float: none;
		}
	}
	header{
		//background: rgba(255,255,255,0.5);
		background: rgba(180, 215, 225,0.5);
		.vimp{
			display: none;
		}
		.logo{
			width:370px;
			margin: 0px auto;
		}
		nav{
			//position: relative;
			width: 100%;
			box-shadow: 0px 0px 0px #000;
			float: left;
			&:before{
				display: inline-block;
				font-size: 30px;
				font-family: 'icons';
				content: '\f0c9';
				width: 40px;
				height: 40px;
				text-align: center;
				border: 1px solid @blue-2;
				border-radius: 3px;
				margin-top: 10px;
				color:@blue-2;
				cursor: pointer;
			}
			&.active{
				&:before{
					background: @blue-2;
					color: #fff;
				}
				ul{
					max-height: 80vh;
				}
			}
			ul{
				position: absolute;
				//background: rgba(255,255,255,0.5);
				background: rgba(180, 215, 225,0.5);
				margin-left: -15px;
				max-height: 0px;
				overflow: hidden;
				.transition;
				&,li{
					top: 100%;
					display: 	block;
					width: 	100%;
				}
				li{
					a{
						display: 	block;
						width: 	100%;
						padding: 20px 0px;
					}
				}
			}
		}
	}
	.bott {
		.bot-cont{
			width: 	100%;
			margin: 10px 0px;
		}
	}
	#block4 ul li{
		display: 	block;
		width: 300px;
		margin: 0 auto;
	}
	#block7 {
		img.dec{
			margin: 0px;
			max-width: 300px;
			display: 	block;
			margin: 10px auto;
		}
		.cont{
			width: 	100%;
		}
	}
	#block9 .team-ell{
		width: 300px;
		margin: 0 auto;
		display: 	block;
	}
	#block10 {
		/* .icon-menu{
			background: transparent;
			border: 1px solid @red;
			border-radius: 	5px;
			color: @red;
			padding: 0px;
			margin: 10px 0px;
			position: relative;
			z-index: 	5;
			&:before{
				margin: 0px;
			}
			&.active{
				&+.docs{
					max-height: 1999px;
				}
			}
			} */
			.docs{
				font-size: 0px;
				a{
					font-size: 14px;
					margin:20px 20px;
				}
			}
			.form{
				padding: 15px;
			/* margin-left: -15px;
			margin-right: -15px; */
			width: 	auto;
			display: 	block;
			.text-cont,.btn-cont{
				padding: 0px;
				display: 	block;
				margin: 10px auto;
			}
			.btn-cont{
				width: 176px;
			}
		}
	}

	#block12
	{
		.rev{
			&-ell {
				.avat{
					display: 	block;
					margin: 0 auto;
				}
				.text{
					padding-left: 0px;
				}
			}
			&-loop{
				.slick-arrow{
					position: static;
					width: 100%;
					margin: 20px 0px;
					&.slick-next{
						left: 100%;
						margin-left: 0px;
					}
					&.slick-prev{
						right: 100%;
						margin-right: 0px;
					}
				}
			}
		}
	}
	footer {
		ul.social {
			display: block;
			margin: 0 auto;
			width: 100%;
		}
		.time{
			display: block;
			margin: 0 auto;
		}
		.contact{
			display: 	block;
			max-width: 300px;
			margin: 10px auto;
		}
	}
	#shiftslick{
		.shift{
			.slide
			{
				padding: 20px 0px;
				padding-bottom: 0px;
				overflow: hidden;
				.abs{
					position: static;
				}
				img{
					margin-bottom: 20px;
				}
			}
			&_shape{
				margin-left: -15px;
				margin-right: -15px;
				padding: 30px 15px;
			}
			.slide-3 .shift_date,
			.slide-3 .shift_icon,
			.slide-3 .shift_h1{
				color: #6b4691;
			}
		}
	}
	#abb {
		.half-bott{
			width: 	100%;
			margin: 20px 0px;

		}
		.date{
			margin: 10px 0px;
		}
	}

}
@media (min-width:1700px){
	#shiftslick .shift .slide{
		padding-bottom: 40px;
	}

	#aboutus-top .bg{
		margin-top: -8%;
	}
}
