@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot?56709260');
  src: url('../fonts/icons/icons.eot?56709260#iefix') format('embedded-opentype'),
       url('../fonts/icons/icons.woff2?56709260') format('woff2'),
       url('../fonts/icons/icons.woff?56709260') format('woff'),
       url('../fonts/icons/icons.ttf?56709260') format('truetype'),
       url('../fonts/icons/icons.svg?56709260#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../fonts/icons/icons.svg?56709260#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-rew:before { content: '\e800'; } /* '' */
.icon-scene:before { content: '\e801'; } /* '' */
.icon-light:before { content: '\e802'; } /* '' */
.icon-arr_up:before { content: '\e803'; } /* '' */
.icon-ic1:before { content: '\e804'; } /* '' */
.icon-boll:before { content: '\e805'; } /* '' */
.icon-tree:before { content: '\e806'; } /* '' */
.icon-t-shorh:before { content: '\e807'; } /* '' */
.icon-mod_close:before { content: '\e808'; } /* '' */
.icon-time:before { content: '\e809'; } /* '' */
.icon-mask:before { content: '\e80a'; } /* '' */
.icon-cam:before { content: '\e80b'; } /* '' */
.icon-speech:before { content: '\e80c'; } /* '' */
.icon-warning:before { content: '\e80d'; } /* '' */
.icon-sup:before { content: '\e80e'; } /* '' */
.icon-resize-full:before { content: '\e80f'; } /* '' */
.icon-resize-small:before { content: '\e810'; } /* '' */
.icon-check:before { content: '\e811'; } /* '' */
.icon-fb:before { content: '\f09a'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-vk:before { content: '\f189'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */