
.icon-rew:before { content: '\e800'; } /* '' */
.icon-scene:before { content: '\e801'; } /* '' */
.icon-light:before { content: '\e802'; } /* '' */
.icon-arr_up:before { content: '\e803'; } /* '' */
.icon-ic1:before { content: '\e804'; } /* '' */
.icon-boll:before { content: '\e805'; } /* '' */
.icon-tree:before { content: '\e806'; } /* '' */
.icon-t-shorh:before { content: '\e807'; } /* '' */
.icon-mod_close:before { content: '\e808'; } /* '' */
.icon-time:before { content: '\e809'; } /* '' */
.icon-mask:before { content: '\e80a'; } /* '' */
.icon-cam:before { content: '\e80b'; } /* '' */
.icon-speech:before { content: '\e80c'; } /* '' */
.icon-warning:before { content: '\e80d'; } /* '' */
.icon-sup:before { content: '\e80e'; } /* '' */
.icon-resize-full:before { content: '\e80f'; } /* '' */
.icon-resize-small:before { content: '\e810'; } /* '' */
.icon-check:before { content: '\e811'; } /* '' */
.icon-fb:before { content: '\f09a'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vk:before { content: '\f189'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */